@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: "Open Sans", sans-serif; */
/* font-family: "Roboto", sans-serif; */
/* font-family: "Josefin Sans", sans-serif; */

/* roboto-100 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/roboto-v30-latin-100.eot');
    src: url('../fonts/roboto-v30-latin-100.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-v30-latin-100.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-100.woff') format('woff'),
         url('../fonts/roboto-v30-latin-100.ttf') format('truetype'),
         url('../fonts/roboto-v30-latin-100.svg#Roboto') format('svg');
}
/* roboto-100italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/roboto-v30-latin-100italic.eot');
    src: url('../fonts/roboto-v30-latin-100italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-v30-latin-100italic.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-100italic.woff') format('woff'),
         url('../fonts/roboto-v30-latin-100italic.ttf') format('truetype'),
         url('../fonts/roboto-v30-latin-100italic.svg#Roboto') format('svg');
}
/* roboto-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v30-latin-300.eot');
    src: url('../fonts/roboto-v30-latin-300.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-v30-latin-300.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-300.woff') format('woff'),
         url('../fonts/roboto-v30-latin-300.ttf') format('truetype'),
         url('../fonts/roboto-v30-latin-300.svg#Roboto') format('svg');
}
/* roboto-300italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/roboto-v30-latin-300italic.eot');
    src: url('../fonts/roboto-v30-latin-300italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-v30-latin-300italic.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-300italic.woff') format('woff'),
         url('../fonts/roboto-v30-latin-300italic.ttf') format('truetype'),
         url('../fonts/roboto-v30-latin-300italic.svg#Roboto') format('svg');
}
/* roboto-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.eot');
    src: url('../fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-regular.woff') format('woff'),
         url('../fonts/roboto-v30-latin-regular.ttf') format('truetype'),
         url('../fonts/roboto-v30-latin-regular.svg#Roboto') format('svg');
}
/* roboto-italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-italic.eot');
    src: url('../fonts/roboto-v30-latin-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-v30-latin-italic.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-italic.woff') format('woff'),
         url('../fonts/roboto-v30-latin-italic.ttf') format('truetype'),
         url('../fonts/roboto-v30-latin-italic.svg#Roboto') format('svg');
}
/* roboto-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500.eot');
    src: url('../fonts/roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-v30-latin-500.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-500.woff') format('woff'),
         url('../fonts/roboto-v30-latin-500.ttf') format('truetype'),
         url('../fonts/roboto-v30-latin-500.svg#Roboto') format('svg');
}
/* roboto-500italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/roboto-v30-latin-500italic.eot');
    src: url('../fonts/roboto-v30-latin-500italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-v30-latin-500italic.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-500italic.woff') format('woff'),
         url('../fonts/roboto-v30-latin-500italic.ttf') format('truetype'),
         url('../fonts/roboto-v30-latin-500italic.svg#Roboto') format('svg');
}
/* roboto-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.eot');
    src: url('../fonts/roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-700.woff') format('woff'),
         url('../fonts/roboto-v30-latin-700.ttf') format('truetype'),
         url('../fonts/roboto-v30-latin-700.svg#Roboto') format('svg');
}
/* roboto-700italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700italic.eot');
    src: url('../fonts/roboto-v30-latin-700italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-v30-latin-700italic.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-700italic.woff') format('woff'),
         url('../fonts/roboto-v30-latin-700italic.ttf') format('truetype'),
         url('../fonts/roboto-v30-latin-700italic.svg#Roboto') format('svg');
}
/* roboto-900 - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v30-latin-900.eot');
    src: url('../fonts/roboto-v30-latin-900.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-v30-latin-900.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-900.woff') format('woff'),
         url('../fonts/roboto-v30-latin-900.ttf') format('truetype'),
         url('../fonts/roboto-v30-latin-900.svg#Roboto') format('svg');
}
/* roboto-900italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/roboto-v30-latin-900italic.eot');
    src: url('../fonts/roboto-v30-latin-900italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-v30-latin-900italic.woff2') format('woff2'),
         url('../fonts/roboto-v30-latin-900italic.woff') format('woff'),
         url('../fonts/roboto-v30-latin-900italic.ttf') format('truetype'),
         url('../fonts/roboto-v30-latin-900italic.svg#Roboto') format('svg');
}

/* open-sans-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/open-sans-v40-latin-300.eot');
    src: url('../fonts/open-sans-v40-latin-300.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-v40-latin-300.woff2') format('woff2'),
         url('../fonts/open-sans-v40-latin-300.woff') format('woff'),
         url('../fonts/open-sans-v40-latin-300.ttf') format('truetype'),
         url('../fonts/open-sans-v40-latin-300.svg#OpenSans') format('svg');
}
/* open-sans-300italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/open-sans-v40-latin-300italic.eot');
    src: url('../fonts/open-sans-v40-latin-300italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-v40-latin-300italic.woff2') format('woff2'),
         url('../fonts/open-sans-v40-latin-300italic.woff') format('woff'),
         url('../fonts/open-sans-v40-latin-300italic.ttf') format('truetype'),
         url('../fonts/open-sans-v40-latin-300italic.svg#OpenSans') format('svg');
}
/* open-sans-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v40-latin-regular.eot');
    src: url('../fonts/open-sans-v40-latin-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-v40-latin-regular.woff2') format('woff2'),
         url('../fonts/open-sans-v40-latin-regular.woff') format('woff'),
         url('../fonts/open-sans-v40-latin-regular.ttf') format('truetype'),
         url('../fonts/open-sans-v40-latin-regular.svg#OpenSans') format('svg');
}
/* open-sans-italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/open-sans-v40-latin-italic.eot');
    src: url('../fonts/open-sans-v40-latin-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-v40-latin-italic.woff2') format('woff2'),
         url('../fonts/open-sans-v40-latin-italic.woff') format('woff'),
         url('../fonts/open-sans-v40-latin-italic.ttf') format('truetype'),
         url('../fonts/open-sans-v40-latin-italic.svg#OpenSans') format('svg');
}
/* open-sans-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/open-sans-v40-latin-500.eot');
    src: url('../fonts/open-sans-v40-latin-500.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-v40-latin-500.woff2') format('woff2'),
         url('../fonts/open-sans-v40-latin-500.woff') format('woff'),
         url('../fonts/open-sans-v40-latin-500.ttf') format('truetype'),
         url('../fonts/open-sans-v40-latin-500.svg#OpenSans') format('svg');
}
/* open-sans-500italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/open-sans-v40-latin-500italic.eot');
    src: url('../fonts/open-sans-v40-latin-500italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-v40-latin-500italic.woff2') format('woff2'),
         url('../fonts/open-sans-v40-latin-500italic.woff') format('woff'),
         url('../fonts/open-sans-v40-latin-500italic.ttf') format('truetype'),
         url('../fonts/open-sans-v40-latin-500italic.svg#OpenSans') format('svg');
}
/* open-sans-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v40-latin-600.eot');
    src: url('../fonts/open-sans-v40-latin-600.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-v40-latin-600.woff2') format('woff2'),
         url('../fonts/open-sans-v40-latin-600.woff') format('woff'),
         url('../fonts/open-sans-v40-latin-600.ttf') format('truetype'),
         url('../fonts/open-sans-v40-latin-600.svg#OpenSans') format('svg');
}
/* open-sans-600italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/open-sans-v40-latin-600italic.eot');
    src: url('../fonts/open-sans-v40-latin-600italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-v40-latin-600italic.woff2') format('woff2'),
         url('../fonts/open-sans-v40-latin-600italic.woff') format('woff'),
         url('../fonts/open-sans-v40-latin-600italic.ttf') format('truetype'),
         url('../fonts/open-sans-v40-latin-600italic.svg#OpenSans') format('svg');
}
/* open-sans-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v40-latin-700.eot');
    src: url('../fonts/open-sans-v40-latin-700.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-v40-latin-700.woff2') format('woff2'),
         url('../fonts/open-sans-v40-latin-700.woff') format('woff'),
         url('../fonts/open-sans-v40-latin-700.ttf') format('truetype'),
         url('../fonts/open-sans-v40-latin-700.svg#OpenSans') format('svg');
}
/* open-sans-700italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/open-sans-v40-latin-700italic.eot');
    src: url('../fonts/open-sans-v40-latin-700italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-v40-latin-700italic.woff2') format('woff2'),
         url('../fonts/open-sans-v40-latin-700italic.woff') format('woff'),
         url('../fonts/open-sans-v40-latin-700italic.ttf') format('truetype'),
         url('../fonts/open-sans-v40-latin-700italic.svg#OpenSans') format('svg');
}
/* open-sans-800 - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/open-sans-v40-latin-800.eot');
    src: url('../fonts/open-sans-v40-latin-800.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-v40-latin-800.woff2') format('woff2'),
         url('../fonts/open-sans-v40-latin-800.woff') format('woff'),
         url('../fonts/open-sans-v40-latin-800.ttf') format('truetype'),
         url('../fonts/open-sans-v40-latin-800.svg#OpenSans') format('svg');
}
/* open-sans-800italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/open-sans-v40-latin-800italic.eot');
    src: url('../fonts/open-sans-v40-latin-800italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-v40-latin-800italic.woff2') format('woff2'),
         url('../fonts/open-sans-v40-latin-800italic.woff') format('woff'),
         url('../fonts/open-sans-v40-latin-800italic.ttf') format('truetype'),
         url('../fonts/open-sans-v40-latin-800italic.svg#OpenSans') format('svg');
}

/* josefin-sans-100 - latin */
@font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/josefin-sans-v32-latin-100.eot');
    src: url('../fonts/josefin-sans-v32-latin-100.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefin-sans-v32-latin-100.woff2') format('woff2'),
         url('../fonts/josefin-sans-v32-latin-100.woff') format('woff'),
         url('../fonts/josefin-sans-v32-latin-100.ttf') format('truetype'),
         url('../fonts/josefin-sans-v32-latin-100.svg#JosefinSans') format('svg');
}
/* josefin-sans-100italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/josefin-sans-v32-latin-100italic.eot');
    src: url('../fonts/josefin-sans-v32-latin-100italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefin-sans-v32-latin-100italic.woff2') format('woff2'),
         url('../fonts/josefin-sans-v32-latin-100italic.woff') format('woff'),
         url('../fonts/josefin-sans-v32-latin-100italic.ttf') format('truetype'),
         url('../fonts/josefin-sans-v32-latin-100italic.svg#JosefinSans') format('svg');
}
/* josefin-sans-200 - latin */
@font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/josefin-sans-v32-latin-200.eot');
    src: url('../fonts/josefin-sans-v32-latin-200.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefin-sans-v32-latin-200.woff2') format('woff2'),
         url('../fonts/josefin-sans-v32-latin-200.woff') format('woff'),
         url('../fonts/josefin-sans-v32-latin-200.ttf') format('truetype'),
         url('../fonts/josefin-sans-v32-latin-200.svg#JosefinSans') format('svg');
}
/* josefin-sans-200italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/josefin-sans-v32-latin-200italic.eot');
    src: url('../fonts/josefin-sans-v32-latin-200italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefin-sans-v32-latin-200italic.woff2') format('woff2'),
         url('../fonts/josefin-sans-v32-latin-200italic.woff') format('woff'),
         url('../fonts/josefin-sans-v32-latin-200italic.ttf') format('truetype'),
         url('../fonts/josefin-sans-v32-latin-200italic.svg#JosefinSans') format('svg');
}
/* josefin-sans-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/josefin-sans-v32-latin-300.eot');
    src: url('../fonts/josefin-sans-v32-latin-300.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefin-sans-v32-latin-300.woff2') format('woff2'),
         url('../fonts/josefin-sans-v32-latin-300.woff') format('woff'),
         url('../fonts/josefin-sans-v32-latin-300.ttf') format('truetype'),
         url('../fonts/josefin-sans-v32-latin-300.svg#JosefinSans') format('svg');
}
/* josefin-sans-300italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/josefin-sans-v32-latin-300italic.eot');
    src: url('../fonts/josefin-sans-v32-latin-300italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefin-sans-v32-latin-300italic.woff2') format('woff2'),
         url('../fonts/josefin-sans-v32-latin-300italic.woff') format('woff'),
         url('../fonts/josefin-sans-v32-latin-300italic.ttf') format('truetype'),
         url('../fonts/josefin-sans-v32-latin-300italic.svg#JosefinSans') format('svg');
}
/* josefin-sans-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/josefin-sans-v32-latin-regular.eot');
    src: url('../fonts/josefin-sans-v32-latin-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefin-sans-v32-latin-regular.woff2') format('woff2'),
         url('../fonts/josefin-sans-v32-latin-regular.woff') format('woff'),
         url('../fonts/josefin-sans-v32-latin-regular.ttf') format('truetype'),
         url('../fonts/josefin-sans-v32-latin-regular.svg#JosefinSans') format('svg');
}
/* josefin-sans-italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/josefin-sans-v32-latin-italic.eot');
    src: url('../fonts/josefin-sans-v32-latin-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefin-sans-v32-latin-italic.woff2') format('woff2'),
         url('../fonts/josefin-sans-v32-latin-italic.woff') format('woff'),
         url('../fonts/josefin-sans-v32-latin-italic.ttf') format('truetype'),
         url('../fonts/josefin-sans-v32-latin-italic.svg#JosefinSans') format('svg');
}
/* josefin-sans-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/josefin-sans-v32-latin-500.eot');
    src: url('../fonts/josefin-sans-v32-latin-500.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefin-sans-v32-latin-500.woff2') format('woff2'),
         url('../fonts/josefin-sans-v32-latin-500.woff') format('woff'),
         url('../fonts/josefin-sans-v32-latin-500.ttf') format('truetype'),
         url('../fonts/josefin-sans-v32-latin-500.svg#JosefinSans') format('svg');
}
/* josefin-sans-500italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/josefin-sans-v32-latin-500italic.eot');
    src: url('../fonts/josefin-sans-v32-latin-500italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefin-sans-v32-latin-500italic.woff2') format('woff2'),
         url('../fonts/josefin-sans-v32-latin-500italic.woff') format('woff'),
         url('../fonts/josefin-sans-v32-latin-500italic.ttf') format('truetype'),
         url('../fonts/josefin-sans-v32-latin-500italic.svg#JosefinSans') format('svg');
}
/* josefin-sans-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/josefin-sans-v32-latin-600.eot');
    src: url('../fonts/josefin-sans-v32-latin-600.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefin-sans-v32-latin-600.woff2') format('woff2'),
         url('../fonts/josefin-sans-v32-latin-600.woff') format('woff'),
         url('../fonts/josefin-sans-v32-latin-600.ttf') format('truetype'),
         url('../fonts/josefin-sans-v32-latin-600.svg#JosefinSans') format('svg');
}
/* josefin-sans-600italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/josefin-sans-v32-latin-600italic.eot');
    src: url('../fonts/josefin-sans-v32-latin-600italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefin-sans-v32-latin-600italic.woff2') format('woff2'),
         url('../fonts/josefin-sans-v32-latin-600italic.woff') format('woff'),
         url('../fonts/josefin-sans-v32-latin-600italic.ttf') format('truetype'),
         url('../fonts/josefin-sans-v32-latin-600italic.svg#JosefinSans') format('svg');
}
/* josefin-sans-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/josefin-sans-v32-latin-700.eot');
    src: url('../fonts/josefin-sans-v32-latin-700.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefin-sans-v32-latin-700.woff2') format('woff2'),
         url('../fonts/josefin-sans-v32-latin-700.woff') format('woff'),
         url('../fonts/josefin-sans-v32-latin-700.ttf') format('truetype'),
         url('../fonts/josefin-sans-v32-latin-700.svg#JosefinSans') format('svg');
}
/* josefin-sans-700italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/josefin-sans-v32-latin-700italic.eot');
    src: url('../fonts/josefin-sans-v32-latin-700italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/josefin-sans-v32-latin-700italic.woff2') format('woff2'),
         url('../fonts/josefin-sans-v32-latin-700italic.woff') format('woff'),
         url('../fonts/josefin-sans-v32-latin-700italic.ttf') format('truetype'),
         url('../fonts/josefin-sans-v32-latin-700italic.svg#JosefinSans') format('svg');
}

:root{
    --roboto: "Roboto", sans-serif;
    --OpenSans: "Open Sans", sans-serif;
    --josefin: "Josefin Sans", sans-serif;
    --white: #fff;
    --red: #ef233c;
    --header_grey: #414141;
    --about_subheading: #050505;
    --grey: #444;
    --heading_black: #212121;
    --light_grey: #888;
    --service_heading: #212529;
    --service_content: #535353;
    --light_red: #f54545;
    --pricing_sign: #000;
    --pricing_no: #727171;
    --pricing_mo: #998484;
    --pricing_title: #202020;
    --pricing_detail: #333;
    --accordian: #1d1d1d;
    --con_lable: #33363e;
    --news_btn: #636262;
    --footer_detail: #b5bbad;
    --footer_title: #f3f5f1;
    --section_bg: #f4f4f4;
    --work_section: #4a5ef6;
    --work_btn: #b1e01d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-family: "Open Sans", sans-serif;
}

ul{
    list-style: none;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.flex{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.container{
    width: 1200px;
    margin: 0 auto;
    /* padding: 0 15px; */
}

/* Start Header Section */

header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.fixed {
    position: fixed;
    top:0; 
    left:0;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
    transition: .3s;
}
  
header.fixed .header_menu li a{
    color: var(--header_grey);
}

header.fixed .header_menu li a::before{
    background-color: var(--red);
}

.top_header{
    padding: 19px 0;
}

.header_menu{
    margin-bottom: 0;
}

.header_menu li a{
    font-family: var(--OpenSans);
    padding: 10px 0px 10px 30px;
    /* padding: 25px 12px; */
    color: var(--white);
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    position: relative;
}

.header_menu li a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 3px;
    background-color: var(--white);
    height: 2px;
    width: 0%;
    transition: .3s;
    margin-left: 30px;
}

.header_menu li a:hover::before{
    width: 38%;
    left: 0;
}
  
/* End Header Section */

/* Start Slider Section */

.item{
    position: relative;
}

.item .img,
.item2 .img,
.item3 .img
{
    background-image: url('../images/asset\ 34.jpeg');
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--pricing_sign);
        opacity: .5;    
    }
}

.item2 .img{
    background-image: url('../images/asset\ 32.jpeg');
}

.item3 .img{
    background-image: url('../images/asset\ 33.jpeg');
}

/* .item img{
    height: 100vh;
} */

.slider_content{
    position: absolute;
    top: 172px;
    left: 47px;
}

.slider_content h1{
    text-transform: uppercase;
    font-family: var(--roboto);
    font-size: 89px;
    line-height: 95px;
    color: var(--white);
    font-weight: 900;
    margin: 10px 0;
    letter-spacing: 3px;
}

.slider_content p{
    font-family: var(--OpenSans);
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    margin-top: 25px;
    margin-bottom: 30px;
}

.slider_content a{
    font-family: var(--roboto);
    text-transform: uppercase;
    color: var(--white);
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px;
    background-color: var(--red);
    padding: 12px 31px;
    margin-top: 3px;
    display: inline-block;
    border-radius: 25px;
    transition: .2s;

    &:hover{
        padding-right: 45px;
    }
}

#s1 .owl-nav{
    color: var(--pricing_sign);
}
  
/* .owl-nav img{
    display: flex;
    justify-content: center;
    align-items: center;
} */
  
#s1 .owl-nav .owl-prev,
#s1 .owl-nav .owl-next
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#s1 .owl-nav .owl-prev img,
#s1 .owl-nav .owl-next img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    background-color: var(--red);
    padding: 5px;
    border: 4px solid var(--white);
    opacity: .6;
    transition: .3s;

    &:hover{
        opacity: 1;
    }
}
  
#s1 .owl-nav .owl-prev{
    left: 0px;
}
  
#s1 .owl-nav .owl-next{
    right: 0px;
}

#s1 .owl-theme .owl-nav [class*=owl-]:hover{
    background-color: transparent;
}

/* End Slider Section */

/* Start About Section */

#about{
    padding: 86px 0 95px;
}

.about_section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.about_left,
.about_right
{
    padding: 0 15px;
}

.about_heading h1{
    font-family: var(--roboto);
    color: var(--red);
    font-size: 100px;
    line-height: 100px;
    font-weight: 900;
}

.about_heading h5{
    font-family: var(--roboto);
    font-size: 18px;
    line-height: 21.6px;
    color: var(--about_subheading);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.about_content p{
    font-family: var(--roboto);
    font-size: 16px;
    line-height: 26px;
    color: var(--grey);
    margin-bottom: 10px;
}

.about_btn{
    font-family: var(--roboto);
    color: var(--white);
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px;
    padding: 10px 30px;
    border-radius: 20px;
    margin-top: 25px;
    transition: .3s;
    text-transform: uppercase;
    background-color: var(--red);

    &:hover{
        padding-right: 45px;
    }
}

.about_right_img{
    background-image: url('../images/asset\ 35.png');
    background-position: center;
    background-size: cover;
    position: relative;
    height: 450px;
}

.about_img_top{
    padding-top: 35px;
}

.about_img_top img{
    height: 332px;
    width: 370px;
}

.about_img_bottom{
    position: absolute;
    top: 110px;
    right: 0;
    box-shadow: -6px -8px 50px 0 rgba(0, 0, 0, 0.2);
    display: flex;
}

.about_img_bottom img{
    height: 300px;
    width: 300px;
}

/* End About Section */

/* Start Service Section */

#service{
    padding: 95px 0 75px;
    background-color: var(--section_bg);
}

.service_heading{
    text-align: center;
    padding-bottom: 50px;
}

.service_heading h1{
    font-family: var(--roboto);
    font-size: 40px;
    line-height: 48px;
    color: var(--service_heading);
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 8px;
}

.service_heading h1 span{
    color: var(--red);
}

.service_heading p{
    font-family: var(--OpenSans);
    font-size: 16px;
    line-height: 24px;
    color: var(--light_grey);
    padding: 0 200px;
    margin-bottom: 10px;
}

.service_items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.service_item{
    padding: 0 15px;
}

.service_single_item{
    text-align: center;
    padding: 30px 45px;
    background-color: var(--white);
    margin-bottom: 30px;
    transition: .3s;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.service_single_item::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 0;
    background-color: var(--red);
    transition: .3s;
}

.service_single_item:hover::after{
    width: 100%;
}

.service_icon{
    text-align: center;
    width: 100px;
    height: 85px;
    background-color: var(--white);
    border-radius: 100px;
    line-height: 100px;
    margin: 0 auto;
}

.service_icon i{
    color: var(--light_red);
    font-size: 45px;
    /* font-weight: normal; */
}

.service_single_item h3{
    font-family: var(--roboto);
    font-size: 20px;
    line-height: 24px;
    letter-spacing: .4px;
    color: var(--grey);
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 8px;
}

.service_single_item p{
    font-family: var(--OpenSans);
    font-size: 13px;
    line-height: 24px;
    color: var(--service_content);
    margin-bottom: 10px;
}

/* End Service Section */

/* Start Work Section */

#work{
    background-color: var(--work_section);
    color: var(--white);
    position: relative;
    padding-top: 95px;
}

.work_section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.work_left{
    padding: 0 15px;
}

.work_heading{
    margin-bottom: 20px;
}

.work_heading h1{
    font-family: var(--roboto);
    font-size: 40px;
    line-height: 48px;
    font-weight: 900;
}

.work_heading h1 span{
    font-weight: 600;
}

.work_heading h5{
    font-family: var(--roboto);
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
}

.work_content p{
    font-family: var(--roboto);
    font-size: 16px;
    line-height: 26px;
    letter-spacing: .2px;
    font-weight: 300;
    margin-bottom: 10px;
}

.work_icon{
    overflow: hidden;
    margin-top: 50px;
    color: var(--white);
    display: flex;
    justify-content: space-around;
}

.work_single_icon{
    text-align: center;
}

.work_single_icon i{
    font-size: 30px;
}

.work_single_icon h6{
    font-family: var(--roboto);
    font-size: 20px;
    line-height: 24px;
    font-weight: 900;
    margin-top: 9px;
    margin-bottom: 8px;
}

.work_right{
    padding: 0 15px;
    overflow: hidden;
}

.work_item img{
    display: block;
}

.work_slider{
    overflow: hidden;
    padding-bottom: 100px;
}

#s2 .owl-nav{
    position: relative;
}

#s2 .owl-nav .owl-prev,
#s2 .owl-nav .owl-next
{
    position: absolute;
    bottom: -45px;
}

#s2 .owl-nav .owl-prev{
    right: 40px;
}

#s2 .owl-nav .owl-next{
    right: -10px;
}

#s2 .owl-nav .owl-prev i,
#s2 .owl-nav .owl-next i
{
    color: var(--white);
    font-size: 20px;
    margin: 5px;
    padding: 6px 17px;
    background-color: var(--work_btn);
    margin-left: 10px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: transparent;
}

/* End Work Section */

/* Start Portfolio Section */

#portfolio{
    padding: 95px 0 100px;
}

.portfolio_heading_sec{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio_heading{
    padding: 0 15px;
    text-align: center;
}

.portfolio_heading h3{
    font-family: var(--roboto);
    font-size: 30px;
    color: var(--grey);
    line-height: 36px;
    font-weight: 300;
}

.portfolio_heading h3 span{
    color: var(--light_red);
    font-weight: 400;
}

.button-group{
    display: flex;
    justify-content: center;
}

.button-group button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    margin: 30px 0 45px;
    display: block;
    margin-right: 11px;
    font-family: var(--roboto);
    font-size: 16px;
    line-height: 24px;
    color: var(--service_heading);
    display: inline-block;
    text-transform: capitalize;
}

.button-group .active{
    color: var(--light_red);
}

.single_gallery_item{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
}

.single_gallery{
    position: relative;
    display: flex;
}

.single_gallery::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--red);
    transition: .3s;
    opacity: 0;
}

.single_gallery:hover::before{
    opacity: .9;
}

.portfolio_hover{
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.portfolio_hover h3{
    font-family: var(--roboto);
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    color: var(--white);
    transform: translateX(46px);
    transition: .4s;
    text-transform: capitalize;
    opacity: 0;
    font-weight: 400;
}

.portfolio_hover h6{
    font-family: var(--OpenSans);
    font-size: 13px;
    line-height: 15.6px;
    letter-spacing: 2.6px;
    color: var(--white);
    transform: translateX(-20px);
    transition: .4s;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0;
}
.grid-item{
    width: 25%;
    height: 350px;
}
.grid-item--width2{
    width: 50%;
}
.single_gallery:hover .portfolio_hover h3{
    opacity: 1;
    transform: translateX(0);
    transition: .6s;
}

.single_gallery:hover .portfolio_hover h6{
    opacity: 1;
    transform: translateX(0);
    transition: .5s;
}

/* End Portfolio Section */

/* Start Team Section */

#team{
    padding: 95px 0 100px;
    background-color: var(--section_bg);
}

.team_heading_sec{
    padding: 0 15px;
}

.team_heading{
    text-align: center;
    margin-bottom: 50px;
}

.team_heading h1{
    font-family: var(--roboto);
    font-size: 40px;
    line-height: 48px;
    color: var(--service_heading);
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.team_heading h1 span{
    color: var(--red);
}

.team_heading p{
    font-family: var(--OpenSans);
    font-size: 16px;
    line-height: 24px;
    color: var(--light_grey);
    margin-bottom: 10px;
}

.team_single_profile{
    position: relative;
    overflow: hidden;
    text-align: center;
}

.team_det{
    padding-top: 19px;
    padding-bottom: 15px;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 45px;
    background-color: var(--white);
    transition: .3s;
    z-index: 0;
}

.team_det h3{
    font-family: var(--roboto);
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: .5px;
    color: var(--red);
    font-weight: 500;
    margin-bottom: 3px;
}

.team_det h6{
    font-family: var(--roboto);
    font-size: 14px;
    line-height: 16.8px;
    color: var(--service_heading);
    font-weight: 400;
}

.team_social{
    background-color: var(--white);
    padding: 10px 0;
    position: relative;
}

.team_social ul{
    padding: 0;
}

.team_social li{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    /* text-align: center; */
    line-height: 30px;
    margin: 0 4px;
    opacity: .7;
    transition: .4s;

    &:hover{
        opacity: 1;
    }
}

.team_social li a{
    display: block;
    font-size: 16px;
}

.fb a{
    color: #3b5998;
}

.behance a{
    color: #1769ff;
}

.dribble a{
    color: #ea4c89;
}

.linked a{
    color: #1a6ff8;
}

/* End Team Section */

/* Start Fun NUmber Section */

#fun_num{
    background-image: url('../images/asset\ 37.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0;
}

.fun_num_sec{
    display: flex;
    /* flex-wrap: wrap; */
}

.single_fun_num{
    width: 100%;
    padding: 0 15px;
}

.single_num{
    text-align: center;
    color: var(--white);
    background-color: rgba(239, 35, 35, 0.58);
    padding: 25px 0;
    font-family: var(--roboto);
}

.single_num h3{
    margin-bottom: 10px;
    line-height: 60px;
    font-size: 65px;
    font-weight: 700;
}

.single_num h5{
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: -0.4px;
    font-weight: 700;
    font-size: 18px;
}

.single_num p{
    font-size: 15px;
    margin-bottom: 10px;
}

/* End Fun NUmber Section */

/* Start Pricing-Plan Section */

#pricing_plan{
    padding: 95px 0 100px;
}

.pricing_plan_heading_sec{
    padding: 0 15px;
}

.pricing_plan_heading{
    text-align: center;
    padding-bottom: 50px;
}

.pricing_plan_heading h1{
    font-family: var(--roboto);
    font-size: 40px;
    line-height: 48px;
    color: var(--service_heading);
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 8px;
}

.pricing_plan_heading h1 span{
    color: var(--red);
}

.pricing_plan_heading p{
    font-family: var(--OpenSans);
    font-size: 16px;
    line-height: 24px;
    color: var(--light_grey);
}

.pricing_plan_pkg_sec{
    display: flex;
}

.pricing_plan_pkg{
    padding: 0 15px;
}

.single_pricing_plan_pkg{
    font-family: var(--roboto);
    padding: 30px 15px 50px;
    font-weight: 300;
    text-align: center;
    border: 1px solid #dedede;
    transition: .3s;
}

.single_price_rate{
    margin: 0 auto;
}

.single_price_rate .currency{
    vertical-align: top;
    font-size: 24px;
    padding-top: 5px;
    color: var(--pricing_sign);
}

.single_price_rate .rate{
    vertical-align: middle;
    font-size: 50px;
    font-weight: 700;
    color: var(--pricing_no);
}

.single_price_rate .duration{
    vertical-align: bottom;
    font-size: 20px;
    padding-bottom: 10px;
    color: var(--pricing_mo);
}

.pricing_title{
    font-size: 20px;
    margin-top: 15px;
    font-weight: 500;
    color: var(--pricing_title);
}

.single_pricing_plan_pkg p{
    color: var(--pricing_detail);
    padding: 0 27px;
    margin-top: 13px;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
    line-height: 24px;
}

.rounded_btn{
    border-radius: 20px;
    display: inline-block;
    font-weight: 600;
    margin-top: 7px;
    padding: 9px 20px;
    color: var(--white);
    text-transform: uppercase;
    background-color: var(--red);
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, .25);
    transition: .3s;

    &:hover{
        background-color: var(--pricing_sign);
    }
}

/* End Pricing-Plan Section */

/* Start Video Section */

#video{
    height: 600px;
    background-image: url('../images/asset\ 38.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
}

.video_play_btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    padding: 31px 20px 18px 28px;
}

.video_play_btn::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    display: block;
    height: 80px;
    width: 80px;
    background-color: var(--white);
    border-radius: 50%;
    animation: pulse_border 2000ms ease-out infinite;
}

@keyframes pulse_border{
    0%{
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100%{
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

.video_play_btn i{
    color: #b3b3b6;
    font-size: 31px;
    position: relative;
    transition: 1s;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video_play_btn::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background-color: var(--white);
    border-radius: 50%;
    transition: all 200ms;
}

.video_play_btn:hover i{
    color: var(--red);
}

/* End Video Section */

/* Start Testi Area Section */

#testi_slider{
    padding: 95px 0 100px;
}

.testi_heading{
    text-align: center;
    margin-bottom: 35px;
}

.testi_heading h1{
    margin-bottom: 8px;
    font-family: var(--roboto);
    font-size: 30px;
    line-height: 36px;
    color: var(--service_heading);
    font-weight: 400;
}

.single_testimonial{
    box-shadow: 1px 1px 20px 7px rgba(0, 0, 0, 0.08);
    opacity: 1;
    border-radius: 6px;
    padding: 35px 36px;
    margin: 24px 18px;
    font-family: var(--roboto);
}

.single_testimonial p{
    font-size: 15px;
    line-height: 26px;
    color: var(--pricing_sign);
    margin-bottom: 20px;
}

.single_testimonial .single_testi_img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right: 35px;
    display: flex;
}

.single_testi_profile{
    display: flex;
    align-items: center;
}

.single_testimonial h4{
    font-size: 16px;
    color: var(--red);
    margin-bottom: 3px;
    letter-spacing: .5px;
    font-weight: 700;
}

.single_testimonial h6{
    font-size: 14px;
    color: var(--grey);
    font-weight: 400;
    margin-bottom: 8px;
}

.owl-theme .owl-dots .owl-dot.active span{
    background-color: var(--red);
}

.owl-theme .owl-dots .owl-dot:hover span{
    background-color: var(--red);
}

#s4 .owl-item.active{
    opacity: 0.7;
    transform: scale(0.99);
}

#s4 .owl-item.active.center{
    transform: scale(1);
    transition: 0.3s;
    opacity: 1;
}

/* End Testi Area Section */

/* Start Appoinment Area Section */

#appoinment_area{
    margin-bottom: 100px;
}

.appoinment_inner{
    padding: 65px 0;
    box-shadow: 3.5px -8.2px 30px 0 rgba(12, 58, 132, 0.15);
    background-color: var(--white);
    position: relative;
}

.apooinment_form_sec{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.appoinment_left{
    margin-left: 100px;
    padding: 0 15px;
    font-family: var(--roboto);
}

.appoinment_left h3{
    font-size: 24px;
    line-height: 28.8px;
    color: var(--red);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 700;
}

.accordion-item{
    border: none;
}

.accordion-item .accordion-header .accordion-button{
    font-weight: 400;
    color: var(--accordian);
    font-size: 16px;
    text-align: left;
    padding: 25px 0;
    white-space: normal;
    transition: all 300ms linear 0s;
}

.accordion-item .accordion-header .accordion-button.collapsed{
    border: none;
    border-bottom: 1px solid #e9ecef;
}

.accordion-button::after{
    background-image: url('../images/plus-solid.svg');
    height: 11px;
    width: 11px;
    background-size: cover;
}

.accordion-button:not(.collapsed)::after {
    background-image: url('../images/minus-solid.svg');
}

.accordion-body {
    background-color: #f7f7f7;
    font-weight: 300;
    font-size: 14px;
    line-height: 27px;
}

.accordion-button:not(.collapsed){
    background-color: transparent;
    color: var(--accordian);
}

.accordion-button:focus {
    box-shadow: none;
}

.appoinment_right{
    padding: 0 15px;
    font-family: var(--roboto);
}

.appoinment_right h3{
    font-size: 24px;
    line-height: 28.8px;
    color: var(--red);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 700;
}

.appoinment_right form{
    margin-top: 24px;
    display: inline-block;
    width: 100%;
}

.appoinment_right form .form_grp{
    margin-bottom: 25px;
}

.appoinment_right form .form_grp label{
    display: block;
    color: var(--con_lable);
    font-size: 16px;
    margin-bottom: 10px;
}

.appoinment_right form .form_grp input,
.appoinment_right form .form_grp textarea
{
    display: block;
    width: 87%;
    border: 1px solid #e8edf1;
    height: 50px;
    padding: 0 15px;
}

.appoinment_right form .form_grp textarea{
    display: block;
    padding: 15px 15px;
    margin-bottom: 50px;
    height: 150px;
}

.appoinment_right form .form_btn{
    font-family: var(--roboto);
    font-size: 14px;
    line-height: 21px;
    background-color: var(--red);
    color: var(--white);
    padding: 10px 30px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    transition: .3s;
    border-radius: 20px;

    &:hover{
        padding-right: 45px;
    }
}

/* End Appoinment Area Section */

/* Start Blog Section */

#blog{
    padding: 95px 0 100px;
    position: relative;
}

#blog::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 458px;
    width: 100%;
    background-image: url('../images/asset\ 39.jpeg');
    z-index: -1;
}

.blog_sec{
    padding: 0 15px;
}

.blog_heading{
    font-family: var(--roboto);
    color: var(--white);
    text-align: center;
    padding-bottom: 50px;
}

.blog_heading h1{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;   
    margin-bottom: 8px;
}

.blog_heading p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

.blog_profile{
    padding: 0 15px;
}

.blog_single_profile{
    box-shadow: 0 0 8px 4px rgba(84, 80, 84, 0.07);
}

.blog_profile_sec{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* gap: 30px; */
    margin-top: 17.5px;
}

.blog_content{
    font-family: var(--roboto);
    padding: 2px 22px 35px;
}

.meta{
    margin: 20px 0 5px;
}

.meta a{
    font-size: 13px;
    color: var(--red);
    margin-right: 5px;
    text-transform: capitalize;
}

.meta a i{
    margin-right: 3px;
}

.blog_content h4{
    line-height: 23.4px;
    color: var(--grey);
    margin-bottom: 8px;
}

.blog_content h4 a{
    font-size: 18px;
    line-height: 1.3;
    color: var(--grey);
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
}

.blog_content p{
    font-family: var(--OpenSans);
    font-size: 14px;
    line-height: 24px;
    color: var(--light_grey);
    margin-bottom: 25px;
}

.blog_content > a{
    font-size: 14px;
    line-height: 21px;
    color: var(--news_btn);
    background-color: #ededed;
    padding: 4px 13px;
    display: inline-block;
    transition: .3s;
    border-radius: 5px 0 5px 0;

    &:hover{
        background-color: var(--red);
        color: var(--white);
    }
}

/* End Blog Section */

/* Start Logo-Area Section */

#logo_area{
    padding-bottom: 80px;
}

/* .logo_area_slider{
    display: flex;
} */

.single_logo{
    text-align: center;
    display: block;
}

.single_logo a{
    display: inline-block;
}

.single_logo a img{
    filter: grayscale(1);
    transition: .2s;

    &:hover{
        filter: grayscale(0);
    }
}

/* End Logo-Area Section */

/* Start Map Section */

#map{
    height: 400px;
}

#map iframe{
    height: 400px;
    width: 100%;
}

/* End Map Section */

/* Start Contact Section */

#contact{
    padding: 95px 0 90px;
    background-color: var(--section_bg);
}

.contact_heading_sec{
    text-align: center;
    padding-bottom: 50px;
}

.contact_heading_sec h1{
    font-family: var(--roboto);
    font-size: 40px;
    line-height: 48px;
    color: var(--service_heading);
    text-transform: uppercase;
    font-weight: 500;
}

.contact_heading_sec h1 span{
    color: var(--red);
}

.contact_heading_sec p{
    font-family: var(--OpenSans);
    font-size: 16px;
    line-height: 24px;
    color: var(--light_grey);
    margin-bottom: 10px;
}

.contact_info_sec{
    display: grid;
    grid-template-columns: 30% 70%;
    /* grid-template-columns: repeat(2,1fr); */
}

.contact_info{
    padding: 0 15px;
}

.contact_address{
    padding: 25px 25px 0;
    overflow: hidden;
}

.sin_add{
    display: flex;
    /* align-items: center; */
}

.add_icon{
    /* display: flex; */
    line-height: 31px;
}

.add_icon i{
    color: var(--red);
    font-size: 18px;
}

.sin_add p{
    overflow: hidden;
    padding-left: 15px;
    font-size: 16px;
    line-height: 26px;
    color: var(--grey);
    margin-bottom: 10px;
}

.sin_add a{
    color: var(--grey);
    margin-left: 8px;
}

.contact_form_sec{
    padding: 0 15px;
}

.contact_form{
    padding: 25px 25px 0;
    overflow: hidden;
}

.contact_fill_form{
    display: grid;
    /* flex-wrap: wrap; */
}

.contact_name_email{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.contact_field,
.contact_btn_field
{
    padding: 0 15px;
}

.contact_field input,
.contact_field textarea
{
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    padding: 10px 17px;
    width: 100%;
    outline: none;
    transition: .4s;

    &:focus{
        border: 1px solid #9f9f9f;
    }
}

.contact_field textarea{
    height: 120px;
    margin-bottom: 22px;
    padding: 10px 15px;
    width: 100%;
    display: grid;
}

.contact_btn_field{
    text-align: right;
}

.contact_btn_field button{
    font-family: var(--roboto);
    background-color: var(--red);
    color: var(--white);
    display: inline-block;
    font-size: 14px;
    padding: 7px 25px;
    text-transform: uppercase;
    border-radius: 20px;
    width: auto;
    transition: .5s;
    border: none;
    outline: none;

    &:hover{
        background-color: var(--pricing_sign);
    }
}

/* End Contact Section */

/* Start Footer Section */

#footer{
    padding-top: 75px;
    background-color: var(--heading_black);
}

.footer_sec{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    font-family: var(--roboto);
}

.footer_sec ul{
    padding-left: 0;
}

.footer_widget_sec{
    padding: 0 15px;
}

.footer_widget{
    margin-top: 25px;
}

.footer_logo{
    height: 50px;
}

.about_widget p{
    font-size: 14px;
    line-height: 24px;
    color: var(--footer_detail);
}

.footer_widget_title{
    margin-bottom: 30px;
}

.footer_widget_title h5{
    color: var(--footer_title);
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.sin_footer_con{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.quick_link_left ul li,
.quick_link_right ul li,
.sin_footer_con ul li
{
    margin-bottom: 5px;
    font-size: 14px;
}

.quick_link_left ul li a,
.quick_link_right ul li a,
.sin_footer_con ul li a
{
    font-size: 14px;
    color: var(--footer_detail);
    transition: .3s;

    &:hover{
        color: var(--white);
    }
}

.subscribe_link{
    height: 45px;
    width: 270px;
}

.subscribe_link form{
    display: flex;
}

.subscribe_link form input{
    border: none;
    padding: 10px 21px;
    background-color: #f7f7f7;
    color: #9a9a9a;
    height: 45px;
    width: 81%;
}

.mail_send{
    width: 19%;
    border: none;
    color: var(--white);
    font-size: 16px;
    padding: 9px 12px 9px 4px;
    background-color: var(--red);
    height: 45px;
    cursor: pointer;
    text-align: center;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        background-color: var(--pricing_sign);
    }
}

.mail_send i{
    font-size: 20px;
    text-align: center;
}

.footer_social{
    margin-top: 25px;
}

.footer_social ul li{
    display: inline-block;
    margin: 0 3px;
}

.footer_social ul li a{
    color: var(--light_grey);
    display: inline-block;
    font-size: 23px;
    height: 42px;
    width: 42px;
    line-height: 42px;
    transition: .3s;

    &:hover{
        color: var(--white);
    }
}

.footer_bottom{
    margin-top: 80px;
    background-color: var(--pricing_sign);
}

.footer_bottom p{
    font-size: 14px;
    padding: 35px 0;
    text-align: center;
    color: var(--footer_detail);
    line-height: 24px;
}

/* End Footer Section */
